.App {
  display: flex;
  flex-direction: column;
  text-align: center;
}

/* .App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
} */

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.route {
  display: grid;
  grid-template-rows: 100px auto;
}

nav {
  display: flex;
  justify-content: space-evenly;
  font-size: 110%;
  border: 1px solid black;
}

/* h2 {
  text-align: left;
  font-size: 40px;
} */

.Articles {
  display: flex;
  flex-direction: column;
  width: 70%;
}

ul {
  display: flex;
  flex-direction: column;
  all: unset;
  justify-content: center;
  width: 800px;
}

li {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* button {
} */

/* .art-sm-card {
  width: 800px;

} */

/* .login-button {
  all: unset;
} */

.login-button, .logged-in {
  text-align: right;
}

.art-sm-card, .comment-card {
  display: flex;
  flex-direction: row;
}

.time-and-counts {
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  width: 200px;
}

.title-author {
  /* grid-row: 1 / span 2; */
  text-align: left;
  font-size: 90%;
  border: 1px solid black;
  width: 500px;
}

  /* justify-content: center;
  grid-template-columns: 200px 500px; */


.comment-card > button {
  all: unset;
  border: 1px solid black;

}


/* .title-author {
  grid-area: 
} */

/* .art-sm-card > a > p {
  border: 1px solid black;
  display: inline-block;
} */

hr {
  margin: 20px 0;
  border: 1px solid grey;
}



.text-span {
  font-size: 110%;
  font-weight: 500;
  margin-right: 10px;
}

.created-at {
  text-align: right;
  font-size: 90%;
}

.vote-buttons {
  display: flex;
}

.counts {
  text-align: right;
  font-size: 90%;
  grid-column: 2 / span 1;
}

.counts > p {
  margin-left: 10px;
}
